.btn{
    text-align: center;

    button{
        margin: auto;
        padding: 5px 10px;
        background: none;
        color: white;
        border: 1px solid #6752b4;
        cursor: pointer;
        outline: none;
    }
}